/* .text-center{
    text-align: center;
} didnt work */

.navbarMargin {
    margin-bottom: 10px;
}

.navText {
    font-size: 30px;
}

.row {
    margin-left: 5px;
}

.searchBtn {
color: white;
background-color: deepskyblue;
width: 40px;
}

#newCity {
    background-color: grey;
    margin: 5px;
    
}

.col-md-8 {
    background-color: lightblue;
    margin-left: 
    
}