.navbarMargin {
    margin-bottom: 10px;
}

.navText {
    font-size: 30px;
}

.row {
    margin-left: 5px;
}

.searchBtn {
color: white;
background-color: rgba(0, 68, 255, 0.973);
width: 40px;
}

#newCity {
    background-color: grey;
    margin: 5px;
    
}

.col-md-8 {
    background-color: rgb(0, 68, 255);
    margin: 5px;
    
}

